<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wallet_Buddy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FD8AAB31E5C94D60038AF50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD8AAC71E5C94D70038AF50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FD8AAD21E5C94D70038AF50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
